.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a:active {
    color: #40a4c8;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 10;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
        
    }
    
    .NavigationItem a {
        color: #40a4c8;
        text-decoration: none;
        height: 100%;
        width: 100%;
        border-bottom: 4px solid transparent;
        box-sizing: border-box;
        display: block;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a:active {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40a4c8;
        color: #40a4c8;
    }
}