.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 5px 6px rgb(58, 56, 56);
    padding: 10px;
    box-sizing: border-box;
}

.Input {
    display: block;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}